/* Background with dark + orange gradient */
.login-container {
  min-height: calc(100vh - 100px); /* navbar + footer approx height */
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at top right, #ff7a18, #0f0f0f 60%);
}

/* Glassmorphism card */
.login-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 35px 30px;
  width: 340px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.6),
    0 0 20px rgba(255, 122, 24, 0.3);

  transition: 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.7),
    0 0 30px rgba(255, 122, 24, 0.5);
}

/* Title */
.login-card h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}

/* Inputs */
.login-card input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.1);
  color: white;

  font-size: 14px;

  transition: 0.3s;
}

.login-card input::placeholder {
  color: #ccc;
}

.login-card input:focus {
  border: 1px solid #ff7a18;
  box-shadow: 0 0 8px rgba(255, 122, 24, 0.6);
}

/* Radio buttons */
.radio-group {
  display: flex;
  justify-content: space-around;
  color: #ddd;
  font-size: 14px;
}

.radio-group input {
  accent-color: #ff7a18;
}

/* Button */
.login-card button {
  padding: 12px;
  border: none;
  border-radius: 8px;

  background: linear-gradient(135deg, #ff7a18, #ffb347);
  color: #111;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: linear-gradient(135deg, #ffb347, #ff7a18);
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 122, 24, 0.7);
}

/* Disabled button */
.login-card button:disabled {
  background: #555;
  cursor: not-allowed;
}

/* Optional message */
.message {
  text-align: center;
  color: #ccc;
  font-size: 13px;
}
.register-text {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #555;
}

.register-link {
  color: #f87a03;
  cursor: pointer;
  font-weight: 500;
}

.register-link:hover {
  text-decoration: underline;
}
/* input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0.08) inset !important;
  -webkit-text-fill-color: #fff !important;
} */